.btn-xl {
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    background-color: transparent !important;
    border-color: white !important;
}

.btn-xl:active, .btn-xl:focus, .btn-xl:hover {
    background-color: #7100ff !important;
    border-color: #7100ff !important;
}

.btn-xl:focus {
    box-shadow: 0 0 0 0.4rem rgba(54, 0, 127, 0.4);
}

.rounded-pill {
    border-radius: 5rem;
}

.button-title {
    margin: 0 1em;
}

.moveY {
    animation: moveY 2s ease infinite;
}

@keyframes moveY {
    50% { transform: translate(0, -5px); }
}