section {
    height: auto;
}

#profiles {
    background: white linear-gradient(45deg, white 25%, #ff1829 25%, #ff1829 75%, white 75%);
}

#profiles i {
    background: url("data:image/gif;base64,R0lGODlhMwAzAKIAAP///+3t7eLi4tPT0////wAAAAAAAAAAACH5BAEAAAQALAAAAAAzADMAAAPPSLrczuPJSSsU0er9RgBBxo2WB5whqUrmiYrr2rpvLH80ndrcnLs7XsX3A8KEDmLRiOzglsVgk6CE6o68qvXa1G652efXKiV5x7ny5oxOY4fi9lc9Yct/9GT8Ps4v7HxRbwqAgYJOhollhYlLQYyNjhEDApGWGFR7lm2Pmptbi56fh3qjc4OZplB+hKKfrH+ukbAQsoa0DZB9qBS6ZLxwm7i9tqDAa8WSU6l8wz3JTMuxnMc2gM4xbNjWotthpNLBYOElT97LJufSlNXkSU0JADs=") center;
    display: inline-block;
    width: 51px;
    height: 51px;
    line-height: 51px;
    vertical-align: middle;
    font-size: 1.3em;
    margin: 20px;
}

#profiles h2 {
    margin-top: 40px;
}